/* HERO */

.hero {
    background-color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.nav {
    flex: 1;
    display: flex;
    padding-top: 10px;
}

.nav .left {
    display: flex;
    flex: 1;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav .right {
    gap: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
}

.nav-content {
    flex: 5;
    display: flex;
}

.nav-content .left{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.hero-main {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    width: 20%;
    font-weight: bold;
}

.nav-content .right{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

img {
    object-fit: cover;
}


/* INFORMATION */

.information {
    display: flex;
    height: 400px;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
}

.random {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    color: #1f2937;
}

.illustrations {
    display: flex;
    gap: 40px;
    flex: 1;
    justify-content: space-evenly;
}

.empty-box {
    /* flex: 1; */
    height: 120px;
    width: 120px;
    border: 3px lightblue solid;
    border-radius: 12px;
}

.subtext {
    display: flex;
    flex: 1;
}

.random-subtext {
    text-align: center;
    font-size: small;
}


/* QUOTE */

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    /* align-items: center; */
    padding-left: 300px;
    padding-right: 300px;
    font-size: 36px;
    font: italic;
    color: #1f2937;
}

#author {
    text-align:right;
    font-weight: bold;
    font-size: 26px;
}


/* CALL TO ACTION */

.call-to-action {
    display: flex;
    height: 150px;
    padding: 100px;
}

.action {
    background-color: #3882f6;
    display: flex;
    flex: 1;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: center;
    /* align-items: center; */
    color: white;
}

.call {
    font-weight: bold;
}

#signup {
    /* flex: 1; */
    background-color: #3882f6;
    color: white;
    border-color: white;
    border-radius: 8px;
    /* width: 20%; */
    height: 30px;
    font-weight: bold;
    justify-content: center;
    align-items:center ;
}


/* FOOTER */

.footer {
    height: 50px;
    background-color: #1f2937;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.odin {
    color: white;
}